* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 20rem;
  height: 10rem;
}

.current {
  opacity: 1;
  transform: translateX(-100px);
}

.active {
  opacity: 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
